body 
{
		background-image:url(sa2.jpeg);
		background-position: center;
		background-size:cover
}
.grid
{
	width: 600px;
	height: 500px;
	margin: 0 auto;
	background-color: #fff;
	
	padding: 10px 50px 50px 50px;
	border-radius: 50px;
	border: 2px solid #cbcbcb;
	box-shadow: 10px 15px 5px #cbcbcb;
}